/* Estilo para el nuevo contenedor de enlaces */
.nav-links-container {
  background-color: black; /* Fondo negro */
  width: 100vw; /* Abarcar de extremo a extremo (100% del ancho de la ventana) */
  padding: 10px; /* Ajusta el espaciado según sea necesario */
  position: fixed; /* Asegura que el contenedor permanezca fijo incluso al hacer scroll */
  top: 0; /* Coloca el contenedor en la parte superior */
  left: 0; /* Coloca el contenedor en la posición más a la izquierda */
  z-index: 1000; /* Ajusta el índice z para estar seguro de que esté por encima del resto de los elementos */
  display: flex;
  justify-content: center; /* Centrar elementos horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Color del texto para los enlaces dentro del contenedor con fondo negro */
.nav-links-container a {
  color: white; /* Color del texto en blanco */
  display: block;
  padding: 10px;
  text-decoration: none;
  width: 100%; /* Abarcar de extremo a extremo */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  text-align: center; /* Centrar el texto */
}

/* Resto de tus estilos existentes */
.site__header {
  display: flex;
  justify-content: space-between; /* Distribuir elementos a los extremos horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding: 10px;
  width: 100%; /* Abarcar de extremo a extremo */
}

/* Menu links */
.main__menu_ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main__menu_ul li {
  margin: 0 10px;
}

.main__menu_ul li a {
  padding: 10px;
  display: block;
  color: var(--text-color);
  text-decoration: none;
}

/* Otros estilos... */

/* Estilo para el icono de cambio de color de fondo */

/* Estilo para el icono de cambio de color de fondo */
.themetoggle {
  margin-right: 15px !important;
  color: white !important;
  z-index: 2000 !important;
}
