.po_items_ho {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.po_item {
  flex: 0 0 200px; /* Ajusta el ancho y alto deseado */
  margin-bottom: 40px; /* Ajusta el espacio entre los elementos */
  position: relative;
  background: var(--secondary-color);
  padding: 6px;
  border: 1px solid var(--secondary-color);
  transition: 0.3s ease;
  box-sizing: border-box;
}

.po_item img {
  width: 100%; /* Haz que la imagen ocupe el 100% del ancho del contenedor */
  height: 100%; /* Haz que la imagen ocupe el 100% de la altura del contenedor */
  object-fit: cover; /* Ajusta el comportamiento del ajuste del objeto según sea necesario */
}

.po_item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--overlay-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Ajusta según sea necesario */
  text-align: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
  border: 1px solid black;
}

.po_item:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item:hover .content {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  opacity: 1;
}

.po_item .content p {
  font-size: 16px; /* Ajusta según sea necesario */
  margin: 0;
}

.po_item .content a {
  background: var(--bg-color);
  border: solid 1px var(--text-color);
  padding: 4px 8px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.po_item .content a:hover {
  background: var(--text-color);
  color: var(--bg-color);
}
