.po_items_ho {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.po_item {
  width: 350px;
  height: 350px;
  margin-bottom: 40px;
  position: relative;
  background: var(--secondary-color);
  padding: 6px;
  border: 1px solid var(--secondary-color);
  transition: 0.3s ease;
  box-sizing: border-box;
}

.po_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.po_item .content {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--overlay-color);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.po_item:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item:hover .content {
  opacity: 1;
}

.po_item .content p {
  margin: 0;
  font-size: 16px;
}

.po_item .content a {
  background: var(--bg-color);
  border: solid 1px var(--text-color);
  padding: 4px 8px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.po_item .content a:hover {
  background: var(--text-color);
  color: var(--bg-color);
}
